
.navbar-menu{
    width: 100vw;
   height: auto;

}
.outer-ball{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   align-items: center;
    object-fit: fill;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1E1E1E;
    box-shadow: 0px 0px 2px 1px #1E1E1E;
}
.ball{
   
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00B686;
   

}
.circle{
     
    display: flex;
    align-items: center;
    gap: 2px;
    /* background: #1E1E1E; */
}